@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'freight-regular';
	src: url('./assets/fonts/FreightBigProBlack-Regular.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'handwriting';
	src: url('./assets/fonts/Jellyka_Estrya_Handwriting.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'gilroy-medium';
	src: url('./assets/fonts/Gilroy-Medium.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'axiforma-light';
	src: url('./assets/fonts/Axiforma-Light.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'axiforma-regular';
	src: url('./assets/fonts/Axiforma-Regular.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'axiforma-bold';
	src: url('./assets/fonts/Axiforma-Bold.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}

body,html{
	overflow-x:hidden;
	scroll-behavior: smooth;
	background: #070B0D;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.active-navlink{
	position: relative;
}

.active-navlink::after{
	content:"";
	position:absolute;
	bottom:-5px;
	width:100%;
	left:0;
	background: rgba(250, 252, 254, 0.2);
	height:1px;
}